body {
    height: 1200px;
}

.wrapper {
    align-items: center;
    justify-items: center;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
} 

.align {
    width: 100%;
    height: 100%;
    grid-column: 5/9;
    grid-row: 2/7;
} 

.bg {
    background-color: #ccc;
    border: solid;
    border-radius: 10px;
    height: 100%;
    width: 100%
}

button {
    width: 100%;
    height: 100%;
    background-color: #323232;
    border: solid;
    border-radius: 10px;
    border-color: #ccc;
    color: #fff;
    font-size: 22px;
} 

.num {
    grid-area: num;
    background-color: #323232;
    margin: 1em 0.2em;
    border-radius: 10px;
}
.key1 {
    grid-area: k1;
}
.key2 {
    grid-area: k2;
}
.key3 {
    grid-area: k3;
}
.key4 {
    grid-area: k4;
}
.key5 {
    grid-area: k5;
}
.key6 {
    grid-area: k6;
}
.key7 {
    grid-area: k7;
}
.key8 {
    grid-area: k8;
}
.key9 {
    grid-area: k9;
}
.keyStar {
    grid-area: star;
}
.key0 {
    grid-area: k0;
}
.keyHash {
    grid-area: hash;
}
.call {
    grid-area: Call;
    font-size: 30px;
    background-color:#080;
}
.end {
    grid-area: kEnd;
    font-size: 30px;
    background-color:#800;
}

#keys {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "num num num" 
        "k1    k2    k3"
        "k4    k5    k6"
        "k7    k8    k9"
        "star  k0    hash"
        "Call Call  kEnd";
}
@media only screen and (max-width: 1280px) {
    body {
        height: 800px;
    }
    .wrapper {
        align-items: center;
        justify-items: center;
        display: grid; 
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: repeat(7, 1fr);
        height: 100%;
    } 
    .align {
        width: 100%;
        height: 100%;
        grid-column: 5/9;
        grid-row: 2/7;
    } 
    button {
        font-size: 16px;
    }
    .num {
        grid-area: num;
        background-color: #323232;
        margin: 0.5em 0.2em;
        border-radius: 7px; 
    }

    .call, .end {
        font-size: 22px;
    }
}

